<nav>
  <a class="logo">
    <img src="../assets/img/logo-ambar.svg" alt="" />
    <span>Ambar</span>
    <p>by bankinter</p>
  </a>
  <ul>
    <li>
      <a [routerLink]="['/home']" routerLinkActive="selected">
        What is Ambar?
      </a>
    </li>
    <li>
      <a [routerLink]="['starting-guide']" routerLinkActive="selected"
        >Starting guide
      </a>
    </li>
    <li>
      <a [routerLink]="['/commons-lib']" routerLinkActive="selected">
        Commons Library
      </a>
    </li>
    <li>
      <a [routerLink]="['/bla']" routerLinkActive="selected"> Item </a>
    </li>
    <li>
      <a [routerLink]="['/bla']" routerLinkActive="selected"> Item </a>
    </li>
    <li>
      <a [routerLink]="['/bla']" routerLinkActive="selected"> Item </a>
    </li>
  </ul>
</nav>
